# Environment variables
.env
*.env
backend/.env
frontend/.env

# Node.js dependencies
frontend/node_modules
frontend/build
frontend/src/output.css

# Go dependencies and binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# IDE & OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
